/*----------------  (1)Start general ----------------*/
*
{
	margin: 0;
	padding: 0;
	
}
/*---------------- End general ----------------*/


/*---------------- (2)Start body ----------------*/
body
{
	height: ;
	font-family: 'Lato', sans-serif;
}

/*---------------- End body ----------------*/

/*---------------- (3)Start header ----------------*/

#header
{
	height: 100vh;
	background-image: url(../images/21.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.user-box
{
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.user-box img
{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 0 5px #011627;
	padding: 5px;
	margin-bottom: 10px;
	
}
.user-box h3
{
	color: #fff;
	font-weight: bold;
	margin: 10px;
	background: rgba(0,0,0,.5);
	text-transform: uppercase;
	width: 400px;
	margin: auto;
	margin-bottom: 20px;
	padding: 20px;
}
.user-box p
{
	color: #fff;
	background: rgba(0,0,0,.5);
	padding: 20px;
	width: 800px;
}

/*---------------- End header ----------------*/

/*---------------- (4)Start user info ----------------*/

#userinfo
{
	
}
.navbar
{
	background: #011627;
	padding: 15px 30px;

}
.navbar-brand
{
	height: 40px;
	color: white !important;
	font-weight: bold;
	text-transform: uppercase;


}
#userinfo .fa-bars
{
	color: black;
	font-size: 30px;
	
}
.navbar-toggler
{
	border: none !important;
	outline: none !important;
}
.navbar-nav
{
	float: right;
	text-align: right;
}
.nav-link
{
	color: white !important;
}

/*---------------- End user info ----------------*/

/*---------------- (4)Start about  ----------------*/


#about
{
	margin: 80px auto;

}
#about h3
{
	margin-bottom: 30px;
	background: rgba(1, 22, 39,.9);
	padding: 10px;
	width: 350px;
	color: white;
}
#about .cv
{
	margin: 86px auto;
}
/*---------------- End about ----------------*/

/*---------------- (6)Start skills ----------------*/

#skills
{
	margin: 70px auto;
	padding: 60px;
	background: #011627;
	color: white;
	
}
#skills h3
{
	text-transform: uppercase;
	padding: 10px;
	width: 350px;
	margin-bottom: 20px;

}
#skills .part2
{
	padding-left: 80px;

}


#skills .cv2
{
	margin: auto;
}

/*---------------- End skills ----------------*/

/*---------------- (7)Start resume ----------------*/

#resume
{
	padding-top: 50px;
	padding-bottom: 30px;
	
}
#resume h3
{
	margin-bottom: 70px;
	background: rgba(1, 22, 39,.9);
	padding: 10px;
	width: 350px;
	color: white;
	
}
#resume h4
{
	background: rgba(1, 22, 39,.9);
	color: white;
	padding:10px;
	max-width: 300px;
	margin-bottom: 50px;

}
.timeline
{
	list-style: none;
	border-left: 5px solid black;
	padding-left: 30px;
}
.timeline li
{
	list-style: none;
	
	margin-bottom: 40px;
}

.timeline li p
{
	font-size: 16px;
	font-weight: 600;
}
.timeline li .lead
{
	font-size: 14px;	
}

/*---------------- End resume ----------------*/

/*---------------- (8)Start services ----------------*/

.services
{
	margin-top: 70px;
	margin-bottom: 50px;
	color: #0A3D62;
	background: #011627;
	color: white;
	padding: 30px;
}
.services .title
{
	font-weight: bold;
	margin-bottom: 30px;
	text-transform: uppercase;
	line-height: 60px;
	

}
.services .p
{
	margin-bottom: 80px;
	font-size: 1.5em;

}
.services .card
{
	cursor: pointer;
	transition: all .3s ease-in-out;
	padding: 40px;
	background: #011627;
	border: 1px solid white;
}
.services .active
{
	background: #0A3D62;
	border-radius: 5px;
	color: white !important;
}
.services .card:hover
{
	background: #0A3D62;
	border-radius: 5px;
	color: white !important;
}

.services .fas
{
	font-size: 22px !important;
	margin: 30px 0;
}

/*---------------- End services ----------------*/

/*---------------- (11)Start Footer ----------------*/

#footer
{
	background: #0A3D62;
	padding: 40px 0;
	color: white;
}
#footer p
{
	line-height: 2em;
	text-transform: capitalize;
}
#footer h3
{
	
}
#footer input
{
	padding: 20px;
}
#footer span
{
	background: #1D1D29; 
	color: white;
}
#footer .fab
{
	margin-right: 20px;
}
#footer .fab:hover
{
	cursor: pointer;
	transform: scale(1.2,1.2);
	transition: .5s;
}

/*---------------- End Footer ----------------*/

